:root {
    --base-radius: 2px;

    --font-small: 12px;
    --font-normal: 13px;
    --font-big: 14px;

    --black: #000;
    --white: #fff;

    /* Red */
    --red-1: #ffece8;
    --red-2: #fdcdc5;
    --red-3: #fbaca3;
    --red-4: #f98981;
    --red-5: #f76560;
    --red-6: #f53f3f;
    --red-7: #cb272d;
    --red-8: #a1151e;
    --red-9: #770813;
    --red-10: #4d000a;

    /* Orange */
    --orange-1: #fff7e8;
    --orange-2: #ffe4ba;
    --orange-3: #ffcf8b;
    --orange-4: #ffb65d;
    --orange-5: #ff9a2e;
    --orange-6: #ff7d00;
    --orange-7: #d25f00;
    --orange-8: #a64500;
    --orange-9: #792e00;
    --orange-10: #4d1b00;

    /* Yellow */
    --yellow-1: #fefee8;
    --yellow-2: #fefebe;
    --yellow-3: #fdfa94;
    --yellow-4: #fcf26b;
    --yellow-5: #fbe842;
    --yellow-6: #fadc19;
    --yellow-7: #cfaf0f;
    --yellow-8: #a38408;
    --yellow-9: #785d03;
    --yellow-10: #4d3800;

    /* Green */
    --green-1: #e8ffea;
    --green-2: #aff0b5;
    --green-3: #7be188;
    --green-4: #4cd263;
    --green-5: #23c343;
    --green-6: #00b42a;
    --green-7: #009a29;
    --green-8: #008026;
    --green-9: #006622;
    --green-10: #004d1c;

    /* Blue */
    --blue-1: #e8f7ff;
    --blue-2: #c3e7fe;
    --blue-3: #9fd4fd;
    --blue-4: #7bc0fc;
    --blue-5: #57a9fb;
    --blue-6: #3491fa;
    --blue-7: #206ccf;
    --blue-8: #114ba3;
    --blue-9: #063078;
    --blue-10: #001a4d;

    /* Gray */
    --gray-1: #f7f8fa;
    --gray-2: #f2f3f5;
    --gray-3: #e5e6eb;
    --gray-4: #c9cdd4;
    --gray-5: #a9aeb8;
    --gray-6: #86909c;
    --gray-7: #6b7785;
    --gray-8: #4e5969;
    --gray-9: #272e3b;
    --gray-10: #1d2129;

    /* Purple */
    --purple-1: #f5e8ff;
    --purple-2: #ddbef6;
    --purple-3: #c396ed;
    --purple-4: #a871e3;
    --purple-5: #8d4eda;
    --purple-6: #722ed1;
    --purple-7: #551db0;
    --purple-8: #3c108f;
    --purple-9: #27066e;
    --purple-10: #16004d;
}
